.card-heading-own{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 2px solid #003249;
}

.main-box{
    background-color: #CCDBDC;
    border-radius: 10px;
    color: #003249;
}

.btn{
    background-color: #003249 !important;
    color: #CCDBDC !important;
    font-size: 17px !important;
    font-weight: 600 !important;
}

.btn:hover{
    background-color: #80CED7 !important;
    color: #003249 !important;
}


label{
    font-size: 16px;
    font-weight: 500;
}

.form-control{
    color: #003249 !important;
    font-weight: 500 !important;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ffffff !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 126 167 / 25%) !important;
}

.form-control::placeholder{
    color: #003249 !important;
}

.new-task-buttons{
    display: flex;
    font-size: 15px !important;
    justify-content: flex-end;
}

.btn-cncl{
    margin-right: 20px;
}

.btn-sv{
    width: 150px;
}

.task{
    color: #CCDBDC; 
    background-color: #003249;
    border-radius: 15px;
    border-left: 20px solid #80CED7;
    transition: 0.15s linear;

}

.task:hover{
    margin-left: 15px;
}

.fa{
    font-size: 25px !important;
    cursor: pointer;
}

.is-open-btn{
    transition: .1s linear;
}

.--text-align-end{
    text-align: end;
}

.--text-align-center{
    text-align: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 59px;
    height: 59px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .head-load{
    display: flex;
  }
  